{% extends 'layout.html' %}
<style>
  .navbar-brand
</style>
{% block body %}
<!-- header section strats -->
    <header class="header_section">
      <div class="header_bottom">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/user_home"> AI Vox </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/user_home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/chat"> Chat</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/image_generation">image</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/all_complaints">complaints</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/send_review">review </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/view_cmp_reply">Complaint Replay</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>
                      Logout
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->

{% endblock %}